ingestion/adf/ARMTemplateForFactory.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "adf-cmdrisk-dev-4ym7d"
        },
        "ls_http_nbp_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "@{linkedService().baseUrl}"
        },
        "ls_adls_raw_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://stcmdriskdev4ym7d.dfs.core.windows.net/"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/ls_http_nbp')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "parameters": {
                    "baseUrl": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "HttpServer",
                "typeProperties": {
                    "url": "[parameters('ls_http_nbp_properties_typeProperties_url')]",
                    "enableServerCertificateValidation": true,
                    "authenticationType": "Anonymous"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_adls_raw')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('ls_adls_raw_properties_typeProperties_url')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_src_http_bin')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_http_nbp",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "baseUrl": "@dataset().baseUrl"
                    }
                },
                "parameters": {
                    "baseUrl": {
                        "type": "string"
                    },
                    "relativeUrl": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "HttpServerLocation",
                        "relativeUrl": {
                            "value": "@dataset().relativeUrl",
                            "type": "Expression"
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_http_nbp')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_raw_sink_bin')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_adls_raw",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "folderPath": {
                        "type": "string"
                    },
                    "fileName": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@dataset().fileName",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@dataset().folderPath",
                            "type": "Expression"
                        },
                        "fileSystem": "raw"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_adls_raw')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_config_sources')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_adls_raw",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "sources.json",
                        "fileSystem": "config"
                    }
                },
                "schema": {}
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_adls_raw')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/pl_ingest_source')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "lkp_sources",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "JsonSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "JsonReadSettings"
                                }
                            },
                            "dataset": {
                                "referenceName": "ds_config_sources",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        }
                    },
                    {
                        "name": "flt_enabled",
                        "type": "Filter",
                        "dependsOn": [
                            {
                                "activity": "lkp_sources",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('lkp_sources').output.firstRow.sources",
                                "type": "Expression"
                            },
                            "condition": {
                                "value": "@and(equals(item().enabled, true), equals(item().auth_type, 'none'))",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "fe_sources",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "flt_enabled",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('flt_enabled').output.value\n",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "copy_source_to_raw",
                                    "type": "Copy",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "BinarySource",
                                            "storeSettings": {
                                                "type": "HttpReadSettings",
                                                "requestMethod": "GET"
                                            },
                                            "formatSettings": {
                                                "type": "BinaryReadSettings"
                                            }
                                        },
                                        "sink": {
                                            "type": "BinarySink",
                                            "storeSettings": {
                                                "type": "AzureBlobFSWriteSettings"
                                            }
                                        },
                                        "enableStaging": false
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "ds_src_http_bin",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "baseUrl": "@item().base_url",
                                                "relativeUrl": "@''"
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "ds_raw_sink_bin",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "folderPath": "@replace(item().landing_path_template, '{ingest_date}', formatDateTime(utcnow(), 'yyyy-MM-dd'))",
                                                "fileName": "@replace(item().file_name_template, '{ingest_date}', formatDateTime(utcnow(), 'yyyy-MM-dd'))"
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "name": "flt_apikey",
                        "type": "Filter",
                        "dependsOn": [
                            {
                                "activity": "lkp_sources",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('lkp_sources').output.firstRow.sources",
                                "type": "Expression"
                            },
                            "condition": {
                                "value": "@and(equals(item().enabled, true), equals(item().auth_type, 'api_key'))",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "fe_apikey",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "flt_apikey",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('flt_apikey').output.value",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "web_get_secret",
                                    "type": "WebActivity",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": true,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "method": "GET",
                                        "headers": {},
                                        "url": "@concat('https://kv-cmdrisk-dev-4ym7d.vault.azure.net/secrets/', item().secret_name, '?api-version=7.4')",
                                        "authentication": {
                                            "type": "MSI",
                                            "resource": "https://vault.azure.net"
                                        }
                                    }
                                },
                                {
                                    "name": "copy_apikey_to_raw",
                                    "type": "Copy",
                                    "dependsOn": [
                                        {
                                            "activity": "web_get_secret",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": true
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "BinarySource",
                                            "storeSettings": {
                                                "type": "HttpReadSettings",
                                                "requestMethod": "GET"
                                            },
                                            "formatSettings": {
                                                "type": "BinaryReadSettings"
                                            }
                                        },
                                        "sink": {
                                            "type": "BinarySink",
                                            "storeSettings": {
                                                "type": "AzureBlobFSWriteSettings"
                                            }
                                        },
                                        "enableStaging": false
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "ds_src_http_bin",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "baseUrl": "@concat(item().base_url, '&api_key=', activity('web_get_secret').output.value)",
                                                "relativeUrl": "@''"
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "ds_raw_sink_bin",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "folderPath": "@replace(item().landing_path_template, '{ingest_date}', formatDateTime(utcnow(), 'yyyy-MM-dd'))",
                                                "fileName": "@replace(item().file_name_template, '{ingest_date}', formatDateTime(utcnow(), 'yyyy-MM-dd'))"
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2026-07-14T08:27:15Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/ds_config_sources')]",
                "[concat(variables('factoryId'), '/datasets/ds_src_http_bin')]",
                "[concat(variables('factoryId'), '/datasets/ds_raw_sink_bin')]"
            ]
        }
    ]
}